.title-p {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
  margin-top: 22px;
  margin-bottom: 35px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hr {
  height: 2px;
  width: 100%;
  background-color: #ececec;
}

.hr-line {
  height: 2px;
  width: 130px;
  background-color: #ff2d2d;
  -webkit-transition: width ease-in-out 1s;
  -o-transition: width ease-in-out 1s;
  transition: width ease-in-out 1s;
}

.hr-line:hover {
  -webkit-transition: width ease-in-out 1s;
  -o-transition: width ease-in-out 1s;
  transition: width ease-in-out 1s;
  width: 300px;
}

.btn-default {
  color: #ffffff;
  background-color: #ff2d2d;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
  font-weight: 700;
  font-size: 1.125em;
  padding: 20px 60px;
}

.btn-default:hover {
  color: #e2e2e2;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

h2 {
  font-size: 2.625em;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0px;
}

.header {
  background-color: #f6f2f2;
}

.header-navbar {
  background-color: #313030;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu-list a {
  color: #e0e0e0;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.header-menu-list a:hover {
  text-decoration: none;
  color: #616161;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.header-menu-list-active-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ff3f40;
  width: 90px;
  height: 90px;
}

.header-content {
  padding-top: 110px;
  padding-bottom: 110px;
}

.header-content-right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-content iframe {
  -webkit-box-shadow: 0px 0px 98px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 98px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 98px -22px rgba(0, 0, 0, 0.75);
}

.header-content h1 {
  font-size: 3.75em;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.header-content p {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.whywe {
  margin-top: 115px;
}

.whywe-left-side p,
.whywe-left-side h3 {
  margin: 0;
}

.whywe-left-side h3 {
  font-size: 2.375em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  text-transform: uppercase;
}

.whywe-left-side p {
  margin-top: 50px;
  margin-bottom: 60px;
}

.whywe-left-side .btn-whywe {
  background-color: transparent;
  color: #ff2d2d;
  border: #ff2d2d solid 2px;
  transition: 1s;
}

.whywe-left-side .btn-whywe:hover {
  background-color: #ff2d2d;
  color: #ffffff;
  transition: 1s;
}

.whywe-section {
  margin-bottom: 50px;
}

.whywe-section i {
  color: rgba(255, 59, 75, 0.8);
  font-size: 40px;
}

.whywe-section h5 {
  margin-top: 30px;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
}

.whywe-section p {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
}

.whywe-wrap {
  margin-bottom: 110px;
}

.feture {
  margin-top: 110px;
}

.feture-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feture-content {
  margin-top: 90px;
  margin-bottom: 120px;
}

.feture-content-menu a {
  font-size: 1.375em;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
  text-transform: uppercase;
  font-weight: 600;
}

.feture-content-menu a:hover {
  color: #ff2d2d;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.feture-content-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feture-cards {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feture-cards .card {
  border: 2px solid rgba(246, 242, 242, 0.9);
  -webkit-box-shadow: 0px -10px 30px -30px black;
  box-shadow: 0px -10px 30px -30px black;
  overflow: hidden;
  width: 300px;
  height: 290px;
  margin-bottom: 20px;
  background-color: #f5f0dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feture-cards .card-goods {
  background-size: auto;
  width: 276px;
  height: 256px;
}

.team-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 70px;
}

.team-title p {
  margin-top: 40px;
  margin-bottom: 40px;
}

.team-content img {
  width: 320px;
  height: 460px;
}

.team-content h5 {
  padding-top: 15px;
  font-size: 1.875em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 600;
}

.team-content p {
  margin-top: 38px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0px;
}

.team-content-menu {
  margin-top: 48px;
}

.team-content-menu li {
  margin-right: 30px;
}

.team-content-menu li:last-child {
  margin-right: 0;
}

.team-content-menu a {
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0px;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
  font-style: italic;
}

.team-content-menu a:hover {
  color: #8d8d8d;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.team-others {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.team-others-person {
  width: 170px;
  height: 180px;
  background-color: #f5f0dd;
  overflow: hidden;
}

.team-others-person img {
  width: 170px;
  height: 180px;
}

/*# sourceMappingURL=style.css.map */
