// VARIBLE
$pColor: #000000;
$headBgColor: #f6f2f2;
$headNavBar: #313030;
$aColor: #e0e0e0;
$btnBgColor: #ff2d2d;

// MIXINS

@mixin alphaPar($a) {
  color: rgba($pColor, $a);
  margin-bottom: 0px;
}

// Global Settings

.title-p {
  @include alphaPar(0.7);
  margin-top: 22px;
  margin-bottom: 35px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $pColor;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.hr {
  height: 2px;
  width: 100%;
  background-color: #ececec;
}

.hr-line {
  height: 2px;
  width: 130px;
  background-color: $btnBgColor;
  transition: width ease-in-out 1s;

  &:hover {
    transition: width ease-in-out 1s;
    width: 300px;
  }
}

.btn-default {
  color: #ffffff;
  background-color: $btnBgColor;
  transition: color ease 0.3s;
  font-weight: 700;
  font-size: 1.125em;
  padding: 20px 60px;
  &:hover {
    color: #e2e2e2;
    transition: color ease 0.3s;
  }
}

h2 {
  font-size: 2.625em;
  font-weight: 700;
  text-transform: uppercase;
  @include alphaPar(0.8);
}

// CSS

.header {
  background-color: $headBgColor;
  &-navbar {
    background-color: $headNavBar;
  }
  &-menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
      color: $aColor;
      font-size: 0.875em;
      text-transform: uppercase;
      font-weight: 700;
      transition: color ease 0.3s;
      &:hover {
        text-decoration: none;
        color: darken($aColor, 50);
        transition: color ease 0.3s;
      }
    }
    &-active-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ff3f40;
      width: 90px;
      height: 90px;
    }
  }
  &-content {
    padding-top: 110px;
    padding-bottom: 110px;
    &-right-section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    iframe {
      -webkit-box-shadow: 0px 0px 98px -22px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 98px -22px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 98px -22px rgba(0, 0, 0, 0.75);
    }
    h1 {
      font-size: 3.75em;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 0px;
    }
    p {
      @include alphaPar(0.7);
      margin-bottom: 50px;
      margin-top: 30px;
    }
  }
}

.whywe {
  margin-top: 115px;
  &-left-side {
    p,
    h3 {
      margin: 0;
    }
    h3 {
      font-size: 2.375em;
      color: rgba(#000, 0.8);
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      margin-top: 50px;
      margin-bottom: 60px;
    }
    .btn-whywe {
      background-color: transparent;
      color: $btnBgColor;
      border: $btnBgColor solid 2px;
    }
  }

  &-section {
    margin-bottom: 50px;
    i {
      color: rgba(255, 59, 75, 0.8);
      font-size: 40px;
    }
    h5 {
      margin-top: 30px;
      margin-bottom: 24px;
      @include alphaPar(0.7);
    }
    p {
      @include alphaPar(0.7);
    }
  }
  &-wrap {
    margin-bottom: 110px;
  }
}

.feture {
  margin-top: 110px;
  &-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-content {
    margin-top: 90px;
    margin-bottom: 120px;
    &-menu {
      a {
        font-size: 1.375em;
        @include alphaPar(0.7);
        transition: color ease 0.3s;
        text-transform: uppercase;
        font-weight: 600;
        &:hover {
          color: $btnBgColor;
          transition: color ease 0.3s;
        }
      }
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &-cards {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      border: 2px solid rgba($headBgColor, 0.9);
      box-shadow: 0px -10px 30px -30px rgba(0, 0, 0, 1);
      overflow: hidden;
      width: 300px;
      height: 290px;
      margin-bottom: 20px;
      background-color: #f5f0dd;
      display: flex;
      justify-content: center;
      align-items: center;
      &-goods {
        background-size: auto;
        width: 276px;
        height: 256px;
      }
    }
  }
}

.team {
  &-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    margin-bottom: 70px;
  }
  &-content {
    img {
      width: 320px;
      height: 460px;
    }
    h5 {
      padding-top: 15px;
      font-size: 1.875em;
      @include alphaPar(0.8);
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      margin-top: 38px;

      @include alphaPar(0.7);
    }
    &-menu {
      margin-top: 48px;
      li {
        margin-right: 30px;
      }
      li:last-child {
        margin-right: 0;
      }
      a {
        color: #000000;
        @include alphaPar(0.8);
        transition: color ease 0.3s;
        font-style: italic;
        &:hover {
          color: rgb(141, 141, 141);
          transition: color ease 0.3s;
        }
      }
    }
  }
  &-others {
    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &-person {
      width: 170px;
      height: 180px;
      background-color: #f5f0dd;
      overflow: hidden;
      img {
        width: 170px;
        height: 180px;
      }
    }
  }
}
